extends ./layout/index
block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg" alt="iamgen sobre nosotros" class="img-fluid")
            .col-md-7 
                h1= pagina

                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla at odio posuere varius eget quis nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse fringilla vitae nunc id pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris id augue erat. Proin in aliquam ipsum, et interdum felis. Pellentesque eget dignissim ex. Morbi rutrum augue congue diam mollis, eget faucibus lorem malesuada. Aliquam et mi velit. Nunc semper libero mauris, eget ultricies augue suscipit quis. Proin nec posuere orci. Nullam fringilla, orci vulputate tempor molestie, nisi ex egestas libero, id sagittis nunc lectus et diam.

                p venenatis pellentesque nunc rhoncus ullamcorper. Quisque a massa eget lacus sollicitudin vestibulum. Vivamus vestibulum non tellus ut fringilla. Aliquam dui neque, pulvinar id arcu ut, aliquam aliquet velit. Quisque vestibulum leo vitae ex mattis varius. Nam ornare fringilla ex, in commodo augue blandit at. Quisque laoreet elementum urna a pharetra. Morbi et laoreet sem. Duis ullamcorper nisi nulla, ut molestie nibh sodales a. Nulla ac interdum urna, non lacinia enim. Mauris laoreet, purus id sodales vestibulum, ex quam egestas metus, et condimentum purus nisi quis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque ullamcorper molestie odio, sed sollicitudin metus mollis ac.

                p et malesuada fames ac ante ipsum primis in faucibus. Integer et sagittis nulla. Fusce vehicula sem id massa faucibus elementum. Sed tempor felis ultricies congue facilisis. Sed semper pellentesque odio. Donec sollicitudin porttitor porta. Integer tempor justo mauris, a ullamcorper dolor tincidunt at. Morbi erat velit, porttitor at cursus nec, sollicitudin sed lectus. Proin sit amet gravida odio, bibendum vehicula diam. Etiam dui velit, sodales a ligula at, gravida egestas augue. Donec a lectus sed mauris tincidunt aliquam et vel orci. Curabitur lacinia lacus vitae ligula vehicula auctor. Mauris rutrum mollis tempor. Proin purus urna, euismod vitae mauris vitae, mollis varius erat. Praesent feugiat in dui sit amet mollis.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est qui laborum quaerat libero quas corrupti quis illo reiciendis voluptatibus enim saepe atque quod, blanditiis doloremque repellendus quae hic a!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est qui laborum quaerat libero quas corrupti quis illo reiciendis voluptatibus enim saepe atque quod, blanditiis doloremque repellendus quae hic a!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est qui laborum quaerat libero quas corrupti quis illo reiciendis voluptatibus enim saepe atque quod, blanditiis doloremque repellendus quae hic a!